@font-face {
    font-family: suezfont;
    src: url(/Fontes/SuezOne-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
}

h1 {
    font-family: suezfont;
    font-size: 6vh;
}

header {
    align-items: center;
    display: flex;
    justify-content: center;
}

header img {
    padding-top: 20px;
    width: 350px;
    height: auto;
    margin-left: 20px;
}

.corpo {
    width: 500px;
    margin-top: 50px;
    margin-left: 20px;
}

.portifolio,
.projetos,
.experiencia,
.cursos {
    margin-top: 30px;
}

h4 {
    padding-top: 8px;
}

.portifolio p,
.projetos p {
    padding-top: 5px;
}

footer {
    margin-top: 20px;
    background-color: blue;
    padding: 3px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-x: scroll;
    }
    
    code {
        white-space: pre-wrap;
    }
}
