@font-face{
    font-family:suezfont;
    src:url(/Fontes/SuezOne-Regular.ttf)
    }
    
    *{
    padding:0;
    margin:0;
    box-sizing:border-box
    }
    
    body{
    background-color:#000;
    color:#fff
    }
    
    h1{
    font-family:suezfont;
    font-size:6vh
    }

    h2 {
        padding-bottom: 5px;
    }
    
    header{
    align-items:center;
    display:flex;
    justify-content:center
    }
    
    header img{
    padding-top:20px;
    width:350px;
    height:auto
    }
    
    .sociaisRedes{
    margin-top:10px;
    border-top:2px solid #263241;
    border-bottom:2px solid #263241
    }
    
    .sociaisRedes img{
    margin-top:5px;
    margin-bottom:5px;
    margin-left:5px;
    width:50px
    }
    
    .corpo{
    max-width:600px;
    margin:auto;
    padding-top:30px
    }
    
    .info{
    margin-bottom:15px
    }
    
    .roleta{
    width:100%;
    overflow:hidden;
    position:relative;
    align-items:center
    }
    
    .roleta-container{
    display:flex;
    width:400%;
    height:100%;
    transition:transform .7s ease-in-out
    }
    
    .roleta img{
    width:25%;
    height:auto;
    border-radius:5px
    }
    
    .pontos{
    display:flex;
    justify-content:center;
    margin:10px
    }
    
    .ponto{
    display:inline-block;
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:#ccc;
    margin:0 5px;
    cursor:pointer
    }
    
    .ponto.ativo{
    background-color:#333
    }
    
    .portifolio,.projetos,.experiencia,.cursos,.formacao{
    margin-top:15px
    }
    
    .experiencia,.formacao{
    border-bottom:2px solid #263241;
    padding-bottom:15px
    }
    
    .projetos{
    padding-top:5px;
    padding-bottom:5px;
    border-top:2px solid #263241;
    border-bottom:2px solid #263241
    }
    
    h3{
    margin-bottom:10px
    }
    
    h4{
    padding-top:8px
    }
    
    a{
    color:#fff;
    text-decoration:none
    }
    
    a:hover{
    color:blue
    }
    
    .portifolio p,.projetos p{
    padding-top:5px
    }
    
    footer{
    margin-top:20px;
    background-color:blue;
    padding:3px;
    text-align:center
    }
    
    @media (max-width: 768px){
    .corpo{
    max-width:100%;
    padding:0 20px
    }
    
    h1{
    font-family:suezfont;
    font-size:4vh
    }
    
    header img{
    width:85%;
    margin:0
    }
    
    .info,.portifolio,.projetos,.experiencia,.cursos,.formacao{
    margin:30px 0
    }
    }