@font-face {
    font-family: suezfont;
    src: url(/Fontes/SuezOne-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
}

h1 {
    font-family: suezfont;
    font-size: 6vh;
}

header {
    align-items: center;
    display: flex;
    justify-content: center;
}

header img {
    padding-top: 20px;
    width: 350px;
    height: auto;
    margin-left: 20px;
}

.corpo {
    max-width: 500px;
    margin: 50px auto 0;
    padding: 0 20px;
}

.info {
    margin-bottom: 30px;
}

.portifolio,
.projetos,
.experiencia,
.cursos {
    margin-top: 30px;
}

h4 {
    padding-top: 8px;
}

.portifolio p,
.projetos p {
    padding-top: 5px;
}

footer {
    margin-top: 20px;
    background-color: blue;
    padding: 3px;
    text-align: center;
}

@media (max-width: 768px) {
    .corpo {
        max-width: 100%;
    }
    
    header img {
        width: 80%;
        margin: 0;
    }
    
    .info,
    .portifolio,
    .projetos,
    .experiencia,
    .cursos {
        margin: 30px 0;
    }
}